@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Encode+Sans+SC&family=League+Spartan&family=Noto+Sans:wght@400;700&family=Outfit:wght@300&family=Poppins:wght@400;500;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    background: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header h1{
    color: #ffffff;
}

header h1 span{
    color: royalblue;
}

header ul{
    display: flex;
    gap: 40px;
}

header ul li{
    font-size: 1.2rem;
    font-weight: 600;
}

header ul li a{
    color: #ffffff;
    display: block;
    transition: 0.4s;
}

header ul li a:hover{
    color: royalblue;
    transform: scale(1.1);
}


/* MAIN */


main{
    display: flex;
    align-items: center;
    height: 70%;
    width: 100%;
}

main .texto{
    margin-left: 50px;
    width: 50%;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

main img{
    width: 400px;
}


main .redes ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 30px;
    margin: 0px 600px;
}

main .redes ul li{
    font-size: 1.5rem;
}

main .redes ul li a{
    color: #ffffff;
    display: block;
    transition: 0.4s;
}

main .redes ul li a:hover{
    color: royalblue;
    transform: scale(1.2);
}

main .redes{
    width: 700px;
}
